# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

instance/

.env
.env.*

*.log
*.pot
*.mo

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

dist/
build/
*.cache

.vscode/
.history/
